body {
	background-image: url("images/background.jpeg");
}

a {
	text-decoration: none;
	outline: none;
	font-size: 12px;
	color: #666;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.div_form table {
	margin: 0 auto;
}

.div_form {
	padding: 10px 0 10px 0;
	background: #fefefe;
	opacity: 0.8;
	width: 500px;
	margin-bottom: 10px;
	-webkit-border-radius: 10px;
	 -khtml-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.info_type {
	text-align: right;
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
}

.info_result {
	font-size: 16px;
	font-family: sans-serif;
}

.info_ip {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #333;
}

.hr_0 {
	color:#fefefe;
}

.info_image {
	width: 70%;
	margin: 0 auto;
}

.info_image table {
	margin: 0 auto;
}

.info_image textarea {
	resize: none;
	width: 100%;
	height: 60px;
	background-color: #fefefe;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.text_a {
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana;
}

.p_center {
	text-align: center;
	margin: 0px;
}
