body {
	background-image: url("images/background.jpg");
	font-family: sans-serif;
}

#middle {
	width: 500px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 10px 0 10px 0;
	background-image: url('images/op_bg.png');
	border-radius: 10px;
}

#text {
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#ip {
	text-align: center;
	font-size: 1.8em;
}

#list table {
	margin: 0 auto;
	font-size: 0.75em;
}

#list table td:nth-child(1) {
	text-align: right;
	padding-right: 2px;
	color: #444;
}

#img {
	width: 340px;
	margin: 0 auto;
}

#image {
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.link textarea {
	resize: none;
	background: none;
	width: 100%;
	border-radius: 3px;
}

.link_text {
	font-size: 0.75em;
}
